<div class="my-3">
    <svg viewBox="0 0 @(162 * SquareWidth) @(4 * SquareHeight)" xmlns="http://www.w3.org/2000/svg">
        <style>
            rect {
                fill: #337cd6;
            }
        </style>

        @for (int y = 0; y < 4; y++)
        {
            @for (int x = 0; x < 162; x++)
            {
                @if (Levels[x] == y)
                {
                    <rect x="@(x * 10)" y="@((3 - y) * SquareHeight)" width="@(SquareWidth - 1)" height="@(SquareHeight - 1)" />
                }
            }
        }
    </svg>
</div>

@code {
    private const int SquareWidth = 10;
    private const int SquareHeight = 20;

    private int[] Levels = new int[162];

    public void SetLevels(byte[] levels)
    {
        if (levels.Length != Levels.Length)
            throw new ArgumentException("162 levels required");

        for (int i = 0; i < levels.Length; i++)
            Levels[i] = levels[i];

        StateHasChanged();
    }
}
